.main{ 
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  
  button{
    cursor: pointer;
    padding: 4px 8px;
    border: none;
    border-radius: 10px;
    margin: 2px;
    background-color: #31b572;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    
  }
  
  button:hover{
    transform: translateY(-1px);
    background-color: #18b353;
  }