@import "./variables";

.lmj-banner {
	color: $lmjgreen;
	text-align: center;
	padding: 32px;
	margin-bottom: 4px;
	border-bottom: solid 1px $lmjgreen;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
    .lmj-title {
        padding-left: 32px;
    }
    .lmj-logo {
        height: 45px;
        width: 45px;
    }
}



