@import './variables';
.lmj-cart{
    padding: 24px;
    color: white;
    background:$lmjgreen;
    position: fixed;
    right: 0;
	width: 250px;
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;

    ul{
        list-style: none;
        padding: 0px;
        li{ 
            margin-bottom: 10px;
        }
    }
    
    &-closed{
        transform: translateX(100%);
        opacity: 0;
    }

    .closeCart{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.actionOnItem{
    color: $lmjgreen;
    display: inline;
    margin-right: 10px;
    .removeItem, .addItem, .deleteItem{
        background-color: white;
        user-select: none;
        cursor: pointer;
        padding: 4px 8px;    
        align-items: center;    
    }
    .deleteItem{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .removeItem{
        border-left:1px solid $lmjgreen;
        border-right:1px solid $lmjgreen;
    }
    .addItem{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.openCart{ 
    position: absolute;
    right: 0;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    img{
        filter: invert(1);
    }
}




